#navbar {
    position: fixed;
    top: 0px;
    height: 75px;
    width: 100%;
    background-color: rgb(43, 51, 49);
    z-index: 1;
}

#content {
    position: relative;
    top: 75px;
}

.nav-btn {
    background-color: rgb(43, 51, 49);
    border: none;
    height: 75px;
    width: 150px;
    color: white;
}

.blend {
    background-color: rgb(53, 104, 53);
}

body {
    background-color: rgb(53, 104, 53);
}

img {
    width: 500px;
}